USE [master]
GO
/****** Object:  Database [THNN]    Script Date: 12/07/2023 11:11:52 SA ******/
CREATE DATABASE [THNN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THNN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER1\MSSQL\DATA\THNN.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'THNN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER1\MSSQL\DATA\THNN_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THNN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THNN]
GO
/****** Object:  Table [dbo].[DiemThi]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemThi](
	[ID] [nvarchar](255) NOT NULL,
	[KHOAHOC] [nvarchar](255) NOT NULL,
	[HOCVIEN] [nvarchar](255) NOT NULL,
	[LYTHUYET] [nvarchar](255) NOT NULL,
	[THUCHANH] [nvarchar](255) NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangGPLX]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangGPLX](
	[ID] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[STATUS] [nvarchar](255) NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoSo]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSo](
	[ID] [nvarchar](255) NOT NULL,
	[LOAIHOSO] [nvarchar](255) NOT NULL,
	[HOCVIEN] [nvarchar](255) NOT NULL,
	[HOSO] [nvarchar](255) NOT NULL,
	[GHICHU] [nvarchar](255) NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[ID] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[DATEOPEN] [nvarchar](255) NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiHoSo]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiHoSo](
	[ID] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[TRUNGTAM] [varchar](255) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[USERNAME] [nvarchar](255) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTin]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTin](
	[ID] [nvarchar](255) NOT NULL,
	[HANG] [nvarchar](255) NOT NULL,
	[TRUNGTAM] [nvarchar](255) NOT NULL,
	[PRICE] [nvarchar](255) NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrungTam]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrungTam](
	[ID] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[HOTLINE] [nvarchar](255) NOT NULL,
	[ADDRESS] [nvarchar](255) NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TTHocVien]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTHocVien](
	[ID] [nvarchar](255) NOT NULL,
	[HOTEN] [nvarchar](255) NOT NULL,
	[SDT] [nvarchar](255) NOT NULL,
	[NGAYSINH] [nvarchar](255) NOT NULL,
	[CMND] [nvarchar](255) NOT NULL,
	[NOICAP] [nvarchar](255) NOT NULL,
	[GIOITINH] [nvarchar](255) NOT NULL,
	[HANGTHI] [nvarchar](255) NOT NULL,
	[TRUNGTAM] [nvarchar](255) NOT NULL,
	[DIACHI] [nvarchar](255) NOT NULL,
	[NOIHOC] [nvarchar](255) NOT NULL,
	[HOCPHI] [nvarchar](255) NOT NULL,
	[HINHANH] [nvarchar](255) NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
	[GHICHU] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[CalculateDaysToDateById]    Script Date: 12/07/2023 11:11:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateDaysToDateById]
    @id int
AS
BEGIN
    DECLARE @fromDate datetime;
    DECLARE @toDate datetime = GETDATE();
    DECLARE @days int;

    SELECT @fromDate = CREATEDATE
    FROM DiemThi
    WHERE HOCVIEN = @id;

    SET @days = DATEDIFF(dd, @fromDate, @toDate);

    SELECT @days AS DaysToDate;
END
GO
USE [master]
GO
